<nav class="navbar navbar-expand-lg navbar-dark" id="navi">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="https://i.ibb.co/PwRbYPw/logo-sm.png" class="img-fluid logo" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create">Add Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://de-de.facebook.com/WienTourismus/"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/viennatouristboard/?hl=de"><i class="fab fa-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/WienInfoB2B?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a>
        </li>

      </ul>

    </div>
  </div>
</nav>